DBDefsTest/bin/
DBDefsTest/obj/
DBDefsLib/bin/
DBDefsLib/obj/
DBDefsValidator/bin/
DBDefsValidator/obj/
DBDefsValidator/WriteTest/
DBDefsMerge/bin/
DBDefsMerge/obj/
DBDefsDumper/bin/
DBDefsDumper/obj/
DBDefsCoverage/bin/
DBDefsCoverage/obj/
DBDefsConverter/bin/
DBDefsConverter/obj/
*.json
.vs
